.deps/
.git/
build/
artifacts/
tensorrt/runtime-library/build/
tensorrt/conversion-toolchain/artifacts/
onnxruntime/runtime-library/build/
onnxruntime/conversion-toolchain/artifacts/
tensorrt-archives/
*.log
*.jpg
*.mp4
